extends ../../base
include ../../mixins/community/cardItem

block content
    main#contents
        .contents__hero
            .hero__photo
                .hero__text
                    h3
                        p.title 커뮤니티
                        p 자신의 유언장을 공유하고
                        p 다른 사람들과 함께 소통해 보세요
        .__container.__community
            .__inner_header
                if loggedInUser
                    button.__inner_header_button(onclick="location.href='/community/write'") 유언장 공유하기
                    button.__inner_header_button.__filter.__my(style="display: block") 나의 유언장 보기
                    button.__inner_header_button.__filter.__all(style="display: none") 모두의 유언장 보기
            .__inner_main
                div.grid
